<div class="container" data-ng-controller="signup as vm">
  <div class="row" style="margin-top: 200px;">

  </div>
  <form class="ng-pristine ng-invalid ng-invalid-required" name="frm">
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
          <h4>Please create a new account</h4>
          <ul ng-class="{last: $last}">
            <li ng-repeat="e in vm.errors">
              {{e}}
            </li>
          </ul>

          <input type="text" id="first-name" class="form-control input-sm chat-input" placeholder="first name" ng-model="vm.user.FirstName" />
          </br>
          <input type="text" id="last-name" class="form-control input-sm chat-input" placeholder="last name" ng-model="vm.user.LastName" />
          </br>
          <input type="text" id="email" class="form-control input-sm chat-input" placeholder="email" ng-model="vm.user.Email" />
          </br>
          <input type="password" id="password" class="form-control input-sm chat-input" placeholder="password" ng-model="vm.user.Password" />
          </br>
          <input type="password" id="confirm-password" class="form-control input-sm chat-input" placeholder="confirm password" ng-model="vm.user.ConfirmPassword" />
          </br>
          <div class="wrapper" style="padding-top: 20px;">
            <span class="group-btn">
              <button ng-click="vm.newUser()" type="submit" class="btn btn-primary btn-md">create user <i class="fa fa-users"></i></button>
            </span>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
